

.PlotsContainer {
    display: flex;
    flex-direction: column;
}

/* add media query here later */
.CountRow, .SummaryChartRows {
    display: flex;
    flex-direction: row;
}

.CountBox {
    flex: 1 1 auto;
}

.SummaryChart {
    flex: 1 1 auto;
    padding: 10px;
    margin: 10px;
    background-color: aquamarine;
}

